<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-8">
      <h1>asynchronous messaging demo</h1>
    </div>
    <div class="col-4 .d-none">
      <img src="assets/qrcode.png" width="120" alt="QR code"/>
    </div>
    <div class="col-12">
      <ul class="list-group mt-5 text-white">
        <li *ngFor="let message of messages| async"
            class="list-group-item d-flex justify-content-between align-content-center">
          <div class="d-flex flex-row">
            <img src="https://freesvg.org/img/Coffee-Cup-Silhouette.png" width="80" height="80" alt="coffee cup"/>
            <div class="ml-2">
              <h6 class="mb-0">{{message.body.Subject ? message.body.Subject : message.body.Message}}</h6>
              <div class="about">
                <div *ngIf="!!(message.body.Subject)">{{message.body.Message}}</div>
                <span>{{message.body.Timestamp}}</span>
              </div>
            </div>
          </div>
          <div class="check">
            <button type="button" class="btn btn-outline-danger  float-end w-100 h-100"
                    (click)="deleteMessage(message.id)">
              x
            </button>
          </div>
        </li>

        <li *ngIf="(messages|async)?.length==0"
            class="list-group-item d-flex justify-content-between align-content-center">
          <div class="d-flex flex-row">
            <div class="ml-2">
              <div class="about">
                <span>no messages...</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
